@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 12rem;
  line-height: 12rem;
  background-image: url(images/luke-richardson-dI7vfR1Bqcg-unsplash.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
